# Functions

In [ ]:
import pandas as pd
import numpy as np
import math

## Goal 1: scaling functions

Write a function that prints all prime numbers from 1 to up to the input value of the function.

In [ ]:
# tafera 1a

def primos (x):
  lista = [1]
  for i in range(2, x):
    primo = True
    for j in range (2, i):
      if (i%j == 0):
        primo = False
    if primo:
        lista.append(i)
  return lista

primos(10)

[1, 2, 3, 5, 7]

## Goal 2

Write a summary statistics function. Given a vector obtained from the function developed in goal 1, this function should return the following statistics in a `pd.Series` object with corresponding index labels: number of elements, sum, mean, median, variance, standard deviation and any any other stats you find useful.

In [ ]:
# tarefa 1b

def resumo (a):
  x = pd.Series(a)
  colunas = ['soma', 'média', 'mediana', 'variância', 'desvio padrão', 'intervalo']
  y = [np.sum (x), np.mean (x), np.median (x), np.var (x), np.std (x), np.ptp (x)]
  z = pd.DataFrame(y, index=colunas)
  return z

resumo (primos(100))

# https://numpy.org/doc/stable/reference/generated/numpy.ptp.html

                         0
soma           1061.000000
média            40.807692
mediana          39.000000
variância       865.386095
desvio padrão    29.417445
intervalo        96.000000

## Goal 3

Write a function that, given two inputs of equal length, determines whether each element of the first is divisible by the second. The output must be an array of length equal to the inputs, indicating with True/False values ​​whether the arguments of the first array were divisible by the corresponding element in the second.

In [ ]:
# tarefa 1c

def is_div (x, y):
  a = pd.Series (x)
  b = pd.Series (y)
  return a%b == 0

#i = [1, 2, 3, 4] # entrada como lista
#i = range(1, 4) # entrada escalar
i = np.array (range(1, 4)) # entrada vetorial
j = primos (10)

is_div (i, j)

0     True
1     True
2     True
3    False
4    False
dtype: bool

## Goal 4:

Write a function that calculates the number of times the second argument occurs in the first. for example. "How many times does the letter 'e' occur in this sentence?"

In [ ]:
# First step

def palavras_frase (x):
  y = str (x)
  z = str.split (x)
  return list(z)

meustring = "alexia ainda não entendeu o duplo for loop"
print(palavras_frase (meustring),
      type(palavras_frase (meustring)))

# Second step

def calc_letra (x, y):
  a = str (x)
  b = str (y)
  soma = len(b.split(a))
  return soma -1

calc_letra ('e', meustring)

['alexia', 'ainda', 'não', 'entendeu', 'o', 'duplo', 'for', 'loop'] <class 'list'>

## Goal 5:

Write a function that, given a vector/list/series of strings, returns a series where the index is the unique words in the input and the values ​​are the number of times the single word occurs in the entire input. So if I get a list containing all Addresses in Brazil, I want a function that tells me a) what are the unique words in the collection of all Addresses, and b) how many times those words occur in the whole collection.

In [ ]:

def calc_palavra (x):
  listapalavras = []
  listacontagem = []
  a = str (x)
  b = palavras_frase(a)
  for i in b:
    listapalavras.append(i)
  for j in listapalavras:
    listacontagem.append(listapalavras.count(j))
  duplicados = pd.Series(listapalavras, index=listacontagem)
  unicos = duplicados.drop_duplicates()
  final = unicos.sort_index(ascending=False) #organiza pelo index
  return final

timepinkfloyd = "ticking away the moments that make up a dull day fritter and waste the hours in an offhand way kicking around on a piece of ground in your hometown waiting for someone or something to show you the way tired of lying in the sunshine, staying home to watch the rain you are young and life is long, and there is time to kill today and then one day you find ten years have got behind you no one told you when to run, you missed the starting gun and you run, and you run to catch up with the sun but it's sinking racing around to come up behind you again the sun is the same in a relative way but you're older shorter of breath and one day closer to death every year is getting shorter, never seem to find the time plans that either come to naught or half a page of scribbled lines hanging on in quiet desperation is the English way the time is gone, the song is over, thought I'd something more to say home, home again I like to be here when I can and when I come home cold and tired it's good to warm my bones beside the fire far away across the field the tolling of the iron bell calls the faithful to their knees to hear the softly spoken magic spells"

test = calc_palavra(timepinkfloyd)

print (test, type(test))

19       the
14        to
9        you
9        and
7         is
       ...
1        ten
1       then
1      today
1       kill
1     spells
Length: 135, dtype: object <class 'pandas.core.series.Series'>

## Goal 6:

1. Using the variable `Age` from the BES dataset, calculate the age of each respondent rounded to the nearest multiple of 5. Try writing this using a defined function and with a `lambda` function.
2. Recode column `y09` to 0 and 1.
3. Write a function that takes the lower bound of the income limits given in column `y01` and returns it as an integer.

In [ ]:
# upload dataset

df = pd.read_feather("data/03_py4ps_bes_data_subset.feather")

In [ ]:
# solution 1

idades = df['Age']
prio = np.array([1, -1, 2, -2, 3, -3, 4, -4]) # fiz uma ordem de prioridade: para chegar ao múltiplo de 5 mais próximo, tenho que somar com os seguintes números nessa ordem
prio1 = pd.Series(prio)
cond = prio1.dropna().astype(int)
idades5 = []


for x in idades:
  if math.isnan(x) == True:
    idades5.append(np.nan)
  if x%5 == 0:
    idades5.append(x)
  else:
    for j in cond:
      if (j+x)%5 == 0:
        idades5.append(j+x)
        break


print (idades5)
print (type (idades5), len(idades5))
len(idades5) == len(idades)

[20.0, 55.0, 55.0, 65.0, 70.0, 35.0, 85.0, 65.0, 65.0, 40.0, 60.0, 25.0, 80.0, 45.0, 95.0, 35.0, 25.0, 25.0, 35.0, 40.0, 45.0, 50.0, 65.0, 65.0, 55.0, 55.0, 25.0, 35.0, 65.0, 60.0, 55.0, 65.0, 50.0, 45.0, 60.0, 80.0, 35.0, 70.0, 80.0, 60.0, 45.0, 70.0, 65.0, 60.0, 40.0, 30.0, 20.0, 50.0, 90.0, 70.0, 80.0, 45.0, 65.0, 60.0, 45.0, 60.0, 55.0, 50.0, 35.0, 35.0, 40.0, 45.0, 20.0, 20.0, 75.0, 40.0, 70.0, 60.0, 60.0, nan, 80.0, 55.0, 55.0, 60.0, 60.0, 40.0, 55.0, 30.0, 35.0, 80.0, 45.0, 95.0, 65.0, 50.0, 70.0, 25.0, 25.0, 55.0, 65.0, 55.0, 70.0, 70.0, 90.0, 55.0, 65.0, 80.0, 80.0, 80.0, 65.0, 55.0, 45.0, 25.0, 85.0, 55.0, 60.0, 80.0, 70.0, 45.0, 45.0, 70.0, 50.0, 70.0, 40.0, 70.0, 50.0, 60.0, 35.0, 70.0, 30.0, 65.0, 60.0, 65.0, 60.0, 35.0, 65.0, 60.0, 55.0, 40.0, 80.0, 45.0, 40.0, 20.0, 30.0, 60.0, 80.0, 40.0, 40.0, 50.0, 75.0, 70.0, 55.0, 50.0, 80.0, 65.0, 55.0, 65.0, 45.0, 50.0, 60.0, 50.0, 35.0, 25.0, 65.0, 60.0, 55.0, 50.0, 35.0, 40.0, 20.0, 50.0, 25.0, 70.0, 75.0, 35.0, 75.0, 50.0, 70.0, 50.0, 50.0, 55.0, 30.0, 50.0, 45.0, 55.0, 40.0, 45.0, 35.0, 70.0, 60.0, 60.0, 45.0, 70.0, 20.0, 75.0, 45.0, 75.0, 85.0, 70.0, 35.0, 55.0, 85.0, 55.0, 60.0, 35.0, 85.0, 65.0, 65.0, 70.0, 65.0, 75.0, 60.0, 60.0, 65.0, 85.0, 75.0, 30.0, 30.0, 25.0, 65.0, 55.0, 85.0, 50.0, 55.0, 30.0, 75.0, 40.0, 65.0, 30.0, 85.0, 45.0, 50.0, 30.0, 50.0, 55.0, 40.0, 40.0, 20.0, 50.0, 80.0, 50.0, 35.0, 35.0, 35.0, 65.0, 55.0, 80.0, 25.0, 65.0, 70.0, 55.0, 35.0, 55.0, 35.0, 75.0, 60.0, 60.0, 55.0, 45.0, 65.0, 20.0, 35.0, 30.0, 65.0, 80.0, 20.0, 60.0, 55.0, 70.0, 75.0, 80.0, 20.0, 45.0, 40.0, 65.0, 55.0, 60.0, 65.0, 50.0, 85.0, 80.0, 55.0, 75.0, 65.0, 45.0, 30.0, 45.0, 20.0, 60.0, 75.0, 40.0, 80.0, 60.0, 65.0, 65.0, 60.0, 85.0, 70.0, 25.0, 85.0, 50.0, 40.0, 30.0, 80.0, 25.0, 25.0, 45.0, 20.0, 35.0, 80.0, 40.0, 35.0, 80.0, 40.0, 25.0, 80.0, 25.0, 45.0, 45.0, 75.0, 65.0, 40.0, 30.0, 35.0, 65.0, 30.0, 40.0, 50.0, 45.0, 70.0, 30.0, 40.0, 50.0, 20.0, 70.0, 95.0, 35.0, 55.0, 50.0, 80.0, 45.0, 65.0, 60.0, 50.0, 65.0, 25.0, 45.0, 60.0, 50.0, 60.0, 65.0, 75.0, 80.0, 60.0, 40.0, 60.0, 70.0, 40.0, 80.0, 65.0, 55.0, 60.0, 30.0, 55.0, 55.0, 40.0, 85.0, 90.0, 70.0, 65.0, 65.0, 60.0, 55.0, 80.0, 30.0, 90.0, 70.0, 30.0, 60.0, 30.0, 50.0, 40.0, 45.0, 40.0, 35.0, 45.0, 75.0, 50.0, 50.0, 75.0, 70.0, 60.0, 70.0, 20.0, 40.0, 70.0, 30.0, 30.0, 35.0, 85.0, 45.0, 35.0, 30.0, 65.0, 55.0, 50.0, 25.0, 30.0, 65.0, 80.0, 55.0, 80.0, 30.0, 30.0, 45.0, 35.0, nan, nan, 60.0, 20.0, 30.0, 70.0, 35.0, 50.0, 70.0, 30.0, 45.0, 35.0, 50.0, 80.0, 55.0, 60.0, 30.0, 75.0, 70.0, 20.0, 35.0, 60.0, 60.0, 65.0, 40.0, 85.0, 60.0, 25.0, 35.0, 60.0, nan, 35.0, 55.0, 30.0, 45.0, 65.0, 35.0, nan, 75.0, 55.0, 90.0, 90.0, 20.0, 75.0, 25.0, 60.0, 80.0, 30.0, 80.0, 45.0, 20.0, 70.0, 20.0, 65.0, 80.0, 30.0, 35.0, 55.0, 30.0, 45.0, 20.0, 30.0, 25.0, 35.0, 40.0, 55.0, 30.0, 30.0, 70.0, 40.0, 25.0, nan, 50.0, 80.0, 75.0, 60.0, 65.0, 35.0, 30.0, 80.0, 55.0, 20.0, 60.0, 35.0, 35.0, 40.0, 20.0, 40.0, 40.0, 55.0, 60.0, 85.0, 25.0, 50.0, 35.0, 50.0, 35.0, 35.0, 30.0, 25.0, 50.0, 60.0, 85.0, 35.0, 75.0, 30.0, 45.0, 60.0, 75.0, 80.0, 40.0, 35.0, 25.0, 45.0, 80.0, 30.0, 70.0, 60.0, 40.0, nan, 25.0, 65.0, nan, 45.0, 35.0, 65.0, 75.0, 25.0, 35.0, 40.0, 65.0, 45.0, 35.0, 35.0, 55.0, 40.0, 40.0, 40.0, 40.0, nan, 20.0, 75.0, 25.0, 40.0, 40.0, 30.0, 50.0, 35.0, 30.0, 40.0, 40.0, 45.0, 55.0, 50.0, 85.0, 60.0, 35.0, nan, 60.0, 30.0, 70.0, 45.0, 25.0, 35.0, 60.0, 45.0, 30.0, 20.0, 35.0, 55.0, 45.0, 35.0, 65.0, 40.0, 50.0, 30.0, 25.0, 70.0, 25.0, 60.0, 25.0, 20.0, 70.0, 30.0, 40.0, 70.0, 50.0, 40.0, 25.0, 65.0, 70.0, 55.0, 50.0, 75.0, 60.0, 85.0, 85.0, 55.0, 25.0, 85.0, 65.0, 40.0, 70.0, 20.0, 75.0, 35.0, 20.0, 70.0, 35.0, 50.0, 70.0, 85.0, 85.0, 50.0, 35.0, 60.0, 70.0, 45.0, 70.0, 30.0, 55.0, 75.0, 70.0, 70.0, 55.0, 30.0, 20.0, 90.0, 25.0, 55.0, 45.0, 45.0, 35.0, 25.0, 60.0, 55.0, 35.0, 55.0, 30.0, 45.0, 45.0, 55.0, 35.0, 55.0, 75.0, 60.0, 85.0, 45.0, 90.0, 35.0, 25.0, 40.0, 70.0, 90.0, 60.0, 90.0, 40.0, 30.0, 70.0, 25.0, 50.0, nan, 70.0, 20.0, 60.0, 50.0, 35.0, 45.0, 90.0, 40.0, 20.0, 70.0, 65.0, 50.0, 90.0, 25.0, 40.0, 60.0, 70.0, 50.0, 60.0, 25.0, 80.0, 75.0, 55.0, 70.0, 65.0, 80.0, 45.0, 35.0, 70.0, 80.0, 30.0, 30.0, 30.0, 50.0, 30.0, 25.0, 40.0, 80.0, 50.0, 80.0, 80.0, 70.0, 80.0, 75.0, 30.0, 35.0, 45.0, 55.0, 35.0, 30.0, 50.0, 40.0, 65.0, 55.0, 75.0, 55.0, 85.0, 65.0, 35.0, 35.0, 20.0, 20.0, 20.0, 55.0, 35.0, 25.0, 40.0, 60.0, 40.0, 95.0, 30.0, 35.0, 70.0, 50.0, 60.0, 45.0, 45.0, 75.0, 65.0, 40.0, 35.0, 65.0, 45.0, 50.0, 55.0, 65.0, 60.0, 70.0, 45.0, 30.0, 60.0, 60.0, 30.0, 40.0, 25.0, 40.0, 20.0, 30.0, 30.0, 55.0, 65.0, 70.0, 60.0, 55.0, 80.0, 45.0, 40.0, 35.0, 30.0, 50.0, 25.0, 80.0, 40.0, 70.0, 25.0, 65.0, 70.0, 25.0, 35.0, 35.0, 35.0, 45.0, 55.0, 80.0, 75.0, 35.0, 65.0, 35.0, 40.0, 75.0, 30.0, 35.0, 45.0, 45.0, 70.0, 40.0, 75.0, 55.0, 50.0, 55.0, 30.0, 25.0, 40.0, 30.0, 30.0, 65.0, 65.0, 80.0, 35.0, 60.0, 65.0, 65.0, 45.0, 40.0, 65.0, 75.0, 70.0, 40.0, 35.0, 30.0, 20.0, 70.0, 75.0, 30.0, 50.0, 25.0, 35.0, 65.0, 30.0, 55.0, 85.0, 70.0, 45.0, 70.0, 60.0, 75.0, 70.0, 65.0, 75.0, 75.0, 45.0, 45.0, 75.0, 55.0, 25.0, 30.0, 40.0, 40.0, 25.0, 85.0, 65.0, 80.0, 75.0, 40.0, 35.0, 50.0, 45.0, 70.0, 45.0, 20.0, 25.0, 55.0, 20.0, 50.0, 30.0, 40.0, 70.0, 60.0, 35.0, 40.0, 50.0, 80.0, 65.0, 60.0, 25.0, 40.0, 30.0, 45.0, 50.0, 75.0, 65.0, 50.0, 50.0, 35.0, 60.0, 40.0, 40.0, 75.0, 65.0, 65.0, 80.0, 70.0, 70.0, 50.0, 40.0, 50.0, 65.0, 25.0, 50.0, 55.0, 75.0, 60.0, 50.0, 20.0, 35.0, 45.0, 70.0, 55.0, 55.0, 20.0, 70.0, 45.0, 40.0, 45.0, 25.0, 25.0, 75.0, 60.0, 70.0, 50.0, 70.0, 55.0, 60.0, 70.0, 50.0, 55.0, 45.0, 45.0, 70.0, 70.0, 65.0, 35.0, 45.0, 80.0, 90.0, 65.0, 30.0, 70.0, 70.0, 65.0, 70.0, 65.0, 20.0, 75.0, 60.0, 55.0, 75.0, 35.0, 25.0, 65.0, 25.0, 30.0, 55.0, 40.0, 55.0, 70.0, 50.0, 30.0, 60.0, 35.0, 65.0, 60.0, 35.0, 45.0, 65.0, 40.0, 20.0, 40.0, 40.0, 80.0, 80.0, 40.0, 50.0, 20.0, 75.0, 55.0, 75.0, 75.0, 25.0, 45.0, 30.0, 70.0, 50.0, 65.0, 40.0, 60.0, 40.0, 30.0, 45.0, 40.0, 45.0, 55.0, 85.0, 55.0, 50.0, 80.0, 85.0, 50.0, 30.0, 35.0, 30.0, 95.0, 30.0, 30.0, 65.0, 80.0, 60.0, 60.0, 50.0, 65.0, 35.0, 60.0, 65.0, 65.0, 35.0, 60.0, 40.0, 55.0, 35.0, 50.0, 50.0, 35.0, 55.0, 70.0, 40.0, 65.0, 40.0, 80.0, 55.0, 75.0, 90.0, 55.0, 60.0, 55.0, 60.0, 50.0, 85.0, 50.0, 40.0, 60.0, 40.0, 70.0, 35.0, 40.0, 25.0, 55.0, 25.0, 45.0, 40.0, 85.0, 60.0, 35.0, 55.0, 20.0, 50.0, 65.0, 40.0, 95.0, 30.0, 45.0, 35.0, 40.0, 20.0, 55.0, 40.0, 85.0, 25.0, 60.0, 60.0, 70.0, 20.0, 70.0, 40.0, 55.0, 40.0, 30.0, 60.0, 40.0, 35.0, 60.0, 35.0, 50.0, 70.0, 55.0, 20.0, 50.0, 35.0, 40.0, 45.0, 30.0, 55.0, 45.0, 45.0, 30.0, 30.0, 55.0, 25.0, 60.0, 25.0, 55.0, 60.0, 60.0, 95.0, 70.0, 70.0, 70.0, 65.0, 55.0, 45.0, 70.0, 50.0, 55.0, 45.0, 60.0, 50.0, 30.0, 70.0, 65.0, 70.0, 55.0, 35.0, 60.0, 80.0, 40.0, 45.0, 50.0, 50.0, 70.0, 35.0, 60.0, 55.0, 20.0, 35.0, 70.0, 70.0, 50.0, 50.0, 85.0, 70.0, 30.0, 65.0, 80.0, 50.0, 60.0, 55.0, 75.0, 60.0, 65.0, 70.0, 25.0, 70.0, 70.0, 50.0, 75.0, 55.0, 60.0, 55.0, 70.0, 85.0, 85.0, 50.0, 30.0, 60.0, 30.0, 75.0, 30.0, 50.0, 70.0, 25.0, 75.0, 25.0, 20.0, 75.0, 45.0, 45.0, 50.0, 55.0, 50.0, 45.0, 55.0, 50.0, 55.0, 80.0, 30.0, 50.0, 20.0, 35.0, 70.0, 65.0, 55.0, 60.0, 70.0, 90.0, 45.0, 45.0, 55.0, 50.0, 30.0, 60.0, 30.0, 45.0, 85.0, 50.0, 60.0, 60.0, 80.0, 55.0, 80.0, 65.0, 45.0, 65.0, 50.0, 45.0, 35.0, 60.0, 45.0, 50.0, 75.0, 60.0, 85.0, 60.0, 45.0, 60.0, 70.0, 80.0, 30.0, 50.0, 80.0, 55.0, 20.0, 85.0, 60.0, 70.0, 70.0, 30.0, 40.0, 55.0, 35.0, 25.0, 40.0, 70.0, 40.0, 55.0, 45.0, 70.0, 20.0, 40.0, 25.0, 35.0, 50.0, 80.0, 30.0, 45.0, 70.0, 60.0, 35.0, 65.0, 70.0, 35.0, 35.0, 30.0, 70.0, 80.0, 65.0, 60.0, 65.0, 60.0, 65.0, 75.0, 80.0, 65.0, 50.0, 55.0, 45.0, 60.0, 45.0, 40.0, 65.0, 70.0, 45.0, 80.0, 60.0, 50.0, 45.0, 90.0, 35.0, 25.0, 60.0, 50.0, 55.0, 60.0, 35.0, 25.0, 80.0, 30.0, 70.0, 45.0, 70.0, 70.0, 25.0, 45.0, 30.0, 60.0, 35.0, 30.0, 20.0, 45.0, 25.0, 20.0, 65.0, 20.0, 55.0, 25.0, 55.0, 20.0, 50.0, 25.0, 40.0, 25.0, 45.0, 30.0, 45.0, 40.0, 50.0, 50.0, 70.0, 50.0, 65.0, 45.0, 35.0, 55.0, 60.0, 80.0, 70.0, 80.0, 35.0, 60.0, 55.0, 55.0, 45.0, 75.0, 65.0, 20.0, 90.0, 65.0, 65.0, 60.0, 70.0, 20.0, 70.0, 65.0, 65.0, 75.0, 30.0, 45.0, 50.0, 35.0, 35.0, 35.0, 70.0, 50.0, 45.0, 70.0, 50.0, 20.0, 35.0, 20.0, 45.0, 80.0, 30.0, 30.0, 40.0, 30.0, 40.0, 55.0, 45.0, 45.0, 25.0, 25.0, 30.0, 65.0, 60.0, 30.0, 35.0, 70.0, 50.0, 70.0, 60.0, 45.0, 45.0, 40.0, 35.0, 25.0, 30.0, 55.0, 45.0, 45.0, 30.0, 25.0, 45.0, 55.0, 55.0, 50.0, 55.0, 40.0, 40.0, 70.0, 55.0, 75.0, 75.0, 80.0, 75.0, 90.0, 30.0, 35.0, 75.0, 65.0, 30.0, 80.0, 45.0, 85.0, 45.0, 55.0, 75.0, 20.0, 45.0, 50.0, 80.0, 80.0, 55.0, 40.0, 70.0, 80.0, 35.0, 40.0, 35.0, 50.0, 65.0, 75.0, 40.0, 50.0, 60.0, 30.0, 65.0, 90.0, 70.0, 60.0, 35.0, 70.0, 65.0, 60.0, 50.0, 30.0, 70.0, 70.0, 90.0, 55.0, 70.0, 75.0, 75.0, 50.0, 20.0, 25.0, 35.0, 30.0, 45.0, 30.0, 25.0, 40.0, 40.0, 80.0, 75.0, 70.0, 70.0, 70.0, 30.0, 30.0, 65.0, 60.0, 20.0, 70.0, 75.0, 65.0, 80.0, 65.0, 55.0, 75.0, 35.0, 70.0, 70.0, 35.0, 60.0, 45.0, 80.0, 75.0, 20.0, 30.0, 55.0, 25.0, 80.0, 60.0, 100.0, 75.0, 75.0, 75.0, 45.0, 35.0, 50.0, 55.0, 65.0, 45.0, 40.0, 25.0, 70.0, 60.0, 50.0, 75.0, 45.0, 80.0, 40.0, 20.0, 55.0, 60.0, 50.0, 55.0, 70.0, 30.0, 25.0, 45.0, 30.0, 55.0, 70.0, 40.0, 65.0, 65.0, 25.0, 55.0, 20.0, 70.0, 70.0, 75.0, 40.0, 50.0, 45.0, 35.0, 55.0, 20.0, 55.0, 35.0, 45.0, 40.0, 55.0, 80.0, 85.0, 85.0, 95.0, 75.0, 45.0, 60.0, 30.0, 55.0, 25.0, 30.0, 75.0, 20.0, 55.0, 20.0, 30.0, 80.0, 35.0, 50.0, 50.0, 30.0, 65.0, 45.0, 70.0, 55.0, 45.0, 55.0, 35.0, 30.0, 45.0, 20.0, 70.0, 75.0, 55.0, 70.0, 70.0, 65.0, 70.0, 55.0, 85.0, 70.0, 40.0, 60.0, 75.0, 25.0, 30.0, 25.0, 40.0, 35.0, 40.0, 60.0, 80.0, 85.0, 25.0, 65.0, 20.0, 35.0, 35.0, 65.0, 60.0, 70.0, 45.0, 30.0, 60.0, 60.0, 70.0, 50.0, 75.0, 85.0, 75.0, 20.0, 80.0, 85.0, 95.0, 80.0, 60.0, 25.0, 75.0, 60.0, 65.0, 60.0, 60.0, 65.0, 20.0, 50.0, nan, 65.0, 40.0, 55.0, 60.0, 70.0, 70.0, 25.0, 35.0, 35.0, 45.0, 35.0, 75.0, 45.0, 25.0, 80.0, 55.0, 80.0, nan, 65.0, 45.0, 25.0, 50.0, 40.0, 35.0, 60.0, 45.0, 45.0, 65.0, 65.0, 30.0, 40.0, 60.0, 35.0, 25.0, 25.0, 25.0, 65.0, 25.0, 20.0, 25.0, 20.0, 25.0, 20.0, 20.0, 20.0, 20.0, 80.0, 20.0, 65.0, 35.0, 80.0, 40.0, 45.0, 55.0, 50.0, 55.0, 45.0, 30.0, 30.0, 85.0, 30.0, 85.0, 45.0, 60.0, 55.0, 80.0, 45.0, 70.0, 90.0, 70.0, 65.0, 80.0, 25.0, 60.0, 90.0, 35.0, 25.0, 45.0, 70.0, 65.0, 60.0, 80.0, 85.0, 60.0, 85.0, 65.0, 75.0, 65.0, 50.0, 80.0, 25.0, 30.0, 50.0, 75.0, 20.0, 30.0, 35.0, 55.0, 25.0, 70.0, 35.0, 35.0, 40.0, 30.0, 35.0, 50.0, 65.0, 65.0, nan, 80.0, 80.0, 75.0, 70.0, 70.0, 30.0, 25.0, nan, 85.0, 85.0, 60.0, 50.0, 80.0, 40.0, 20.0, 70.0, 70.0, 55.0, 40.0, 65.0, 60.0, 40.0, 50.0, 70.0, 65.0, 60.0, 65.0, 35.0, 40.0, 30.0, 20.0, 35.0, 55.0, 45.0, 70.0, 40.0, 75.0, 65.0, 70.0, 30.0, 50.0, 60.0, 65.0, 40.0, 65.0, 65.0, 40.0, 25.0, 55.0, 40.0, 25.0, 60.0, 80.0, 40.0, 75.0, 85.0, 35.0, 25.0, 60.0, 45.0, 25.0, 55.0, 60.0, 70.0, 70.0, 75.0, 45.0, 65.0, 20.0, 50.0, 70.0, 65.0, 60.0, 40.0, 50.0, 30.0, 55.0, 70.0, 70.0, 50.0, 60.0, 45.0, 25.0, 55.0, 55.0, 55.0, 30.0, 70.0, 65.0, 65.0, 55.0, 60.0, 30.0, 40.0, 60.0, 25.0, 65.0, 25.0, 20.0, 65.0, 25.0, 65.0, 60.0, 55.0, 60.0, 65.0, 20.0, 75.0, 30.0, 70.0, 60.0, 65.0, 75.0, 55.0, 35.0, 50.0, 60.0, 40.0, 45.0, 70.0, 30.0, 40.0, 25.0, 60.0, 20.0, 75.0, 30.0, 25.0, 25.0, 45.0, 80.0, 45.0, 50.0, 50.0, 50.0, 40.0, 55.0, 60.0, 45.0, 75.0, 30.0, 65.0, 55.0, 80.0, 75.0, 50.0, 80.0, 60.0, 45.0, 25.0, 65.0, 70.0, 75.0, 80.0, 60.0, 70.0, 75.0, 70.0, 40.0, 60.0, 80.0, 55.0, 75.0, 90.0, 70.0, 55.0, 75.0, 60.0, 90.0, 65.0, 50.0, 90.0, 55.0, 70.0, 50.0, 70.0, 65.0, 50.0, 75.0, 30.0, 35.0, 40.0, 65.0, 35.0, 30.0, 40.0, 95.0, 55.0, 30.0, 65.0, 80.0, 60.0, 60.0, 30.0, 75.0, 50.0, 30.0, 55.0, 80.0, 60.0, 75.0, 75.0, nan, 55.0, 65.0, 50.0, 55.0, 70.0, 65.0, 75.0, 40.0, 60.0, 50.0, 50.0, 25.0, 40.0, 30.0, 75.0, 45.0, 70.0, 50.0, 25.0, 70.0, 20.0, 50.0, 45.0, 55.0, 40.0, 80.0, 95.0, 30.0, 70.0, 25.0, 75.0, 55.0, 55.0, 70.0, 70.0, 60.0, 55.0, 75.0, 60.0, 45.0, 60.0, 85.0, 70.0, 80.0, 35.0, 35.0, 25.0, 30.0, 80.0, 75.0, 65.0, nan, 25.0, 50.0, 60.0, 75.0, 40.0, 40.0, 50.0, 50.0, 50.0, 45.0, 75.0, 45.0, 65.0, 65.0, 50.0, 45.0, 65.0, 70.0, 20.0, 65.0, 50.0, 75.0, 30.0, 55.0, 55.0, 80.0, 60.0, 65.0, 40.0, 90.0, 40.0, 90.0, 30.0, 50.0, 55.0, 70.0, 30.0, 50.0, 50.0, 55.0, 60.0, 55.0, 45.0, 35.0, 85.0, 65.0, 40.0, 45.0, 20.0, 30.0, 45.0, 35.0, 75.0, 50.0, 60.0, 40.0, 25.0, 45.0, 35.0, 40.0, 90.0, 70.0, 25.0, 55.0, 20.0, 55.0, 30.0, 40.0, 65.0, 35.0, 60.0, 75.0, 55.0, 20.0, 65.0, 60.0, 80.0, 45.0, 70.0, 55.0, 75.0, 70.0, 40.0, 45.0, 70.0, 65.0, 35.0, 55.0, 35.0, 80.0, 25.0, 75.0, 65.0, 65.0, 60.0, 60.0, 50.0, 60.0, 20.0, 20.0, 25.0, 50.0, 75.0, nan, 60.0, 50.0, 80.0, 50.0, 55.0, 35.0, 70.0, 65.0, 60.0, 65.0, 50.0, 35.0, 65.0, nan, 30.0, 25.0, 55.0, 30.0, 70.0, 25.0, 60.0, 40.0, 20.0, 65.0, 45.0, 45.0, 50.0, 55.0, 65.0, 45.0, 35.0, 75.0, 20.0, 60.0, 40.0, 40.0, 50.0, 50.0, 90.0, 75.0, 50.0, 80.0, 90.0, 50.0, 30.0, 45.0, 50.0, 75.0, 35.0, 65.0, 45.0, 40.0, 70.0, 75.0, 50.0, 25.0, 80.0, 85.0, 35.0, 55.0, 20.0, 65.0, 65.0, 20.0, 30.0, 45.0, 65.0, 75.0, 75.0, 55.0, 45.0, 55.0, 50.0, 75.0, 55.0, 55.0, 60.0, 45.0, 50.0, 80.0, 85.0]
<class 'list'> 2194

0       20.0
1       50.0
2       55.0
3       65.0
4       65.0
        ...
2189    55.0
2190    45.0
2191    50.0
2192    80.0
2193    85.0
Name: Age, Length: 2194, dtype: float64

In [ ]:
# solution 2

sex = df['y09']
isfemale = []

for x in sex:
  if x == 'Female':
    isfemale.append(1)
  else:
    isfemale.append(0)

print (type(isfemale), isfemale)

<class 'list'> [1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0]

0       1
1       0
2       0
3       1
4       1
       ..
2189    1
2190    1
2191    1
2192    1
2193    0
Name: y09, Length: 2194, dtype: category
Categories (2, int64): [0 < 1]

In [ ]:
# solution 3

originais = df['y01'].unique().tolist()
substitutos = [5200, 2600, 36400, 40000, np.nan, 10400, 50000, 31200, 26000, 60000, 15600, np.nan, 75000, 45000, 100000, 20800, 0]

df['limite_inferior'] = df['y01'].replace(originais, substitutos)

print(df['limite_inferior'])

0        5200.0
1        2600.0
2        5200.0
3       36400.0
4       40000.0
         ...
2189    60000.0
2190    75000.0
2191     5200.0
2192    15600.0
2193    45000.0
Name: limite_inferior, Length: 2194, dtype: float64

['GBP 5,200 - GBP 10,399',
 'GBP 2,600 - GBP 5,199',
 'GBP 36,400 - GBP 39,999',
 'GBP 40,000 - GBP 44,999',
 'Don`t know',
 'GBP 10,400 - GBP 15,599',
 'GBP 50,000 - GBP 59,999',
 'GBP 31,200 - GBP 36,399',
 'GBP 26,000 - GBP 31,199',
 'GBP 60,000 - GBP 74,999',
 'GBP 15,600 - GBP 20,799',
 'Refused',
 'GBP 75,000 - GBP 99,999',
 'GBP 45,000 - GBP 49,999',
 'GBP 100,000 or more',
 'GBP 20,800 - GBP 25,999',
 'Under GBP 2,600']

## Goal 7

1. Calculate summary statistics on `Age` for each region and each region/constituency.
2. Calculate the median income range (`y01`) by region and region/constituency.
3. Calculate the most common answer for `a02` by region and region/income group.
4. Calculate the most common answer for `a02` and `y06` by region.

In [ ]:
# solution 1

df.groupby(['region', 'Constit_Code'])['Age'].apply(resumo)

                                                        0
region             Constit_Code
East Midlands      Ashfield     soma           512.000000
                                média           56.888889
                                mediana         65.000000
                                variância      318.320988
                                desvio padrão   17.841552
...                                                   ...
Yorkshire & Humber York Outer   média           60.800000
                                mediana         54.000000
                                variância      191.960000
                                desvio padrão   13.854963
                                intervalo       40.000000

[1308 rows x 1 columns]

In [ ]:
# solution 2

df.groupby(['region', 'Constit_Code'])['limite_inferior'].median()

region              Constit_Code
East Midlands       Ashfield         7800.0
                    Bassetlaw       33800.0
                    Bolsover        31200.0
                    Broxtowe        31200.0
                    Charnwood       55000.0
                                     ...
Yorkshire & Humber  Sheffield       28600.0
                    Sheffield,      26000.0
                    Skipton an      15600.0
                    York Centr      20800.0
                    York Outer      40700.0
Name: limite_inferior, Length: 218, dtype: float64

In [ ]:
# solution 3

df.groupby(['region', 'y01'])['a02']\
  .apply(lambda x: pd.Series.mode(x)[0])

df.groupby(['region'])['a02']\
  .apply(lambda x: pd.Series.mode(x)[0])

region
East Midlands         Conservatives
Eastern               Conservatives
London                       Labour
North East            Conservatives
North West                   Labour
Scotland              None/No party
South East            Conservatives
South West            Conservatives
Wales                 Conservatives
West Midlands         Conservatives
Yorkshire & Humber    Conservatives
Name: a02, dtype: object

In [ ]:
# solution 4

df.groupby(['region'])['a02'].apply(lambda x: pd.Series.mode(x)[0])

df.groupby(['region'])['y06'].apply(lambda x: pd.Series.mode(x)[0])

region
East Midlands         No religion
Eastern               No religion
London                No religion
North East            No religion
North West            No religion
Scotland              No religion
South East            No religion
South West            No religion
Wales                 No religion
West Midlands         No religion
Yorkshire & Humber    No religion
Name: y06, dtype: object